body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #343434;
    color: #e2e2e2
}

#thebutton {
    position: relative;
}


.btn {
    color: #a961c0;
    background-color:#343434;
    border-color:#343434;
    border-radius: 0px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.4);
    font-size: 20px;
    z-index:100;
}
.btn:hover {
    transform:translateY(3px);
    background-color:#834a96;
}

.btn:active, .btn:target {
    background-color:#5386a3;
}

.centered-text {
    text-align:center;
}

.centered {
    margin:auto;
    left:50%;
}

.retro-box {
    background-color:#8d5293;
    width:40%;
    margin-top:20px;
    margin-bottom: 30px;
}

.button-margin {
    margin-left: 20px;
    margin-right: 20px;
}

.view-album-button {
    margin-left:400px;
    margin-right:200px;
    width:150px;
}

#album-list {
    margin:30px;
}

.album {
    margin: 20px;
    background-color:#5f5f5f;
    border:#000000;
    display: flex;
    flex-direction: row;
    height:auto;
}

.album-cover {
    margin:20px;
    width:150px;
}


.album-info {
    margin: 20px;
    background-color:#5f5f5f;
    border:#000000;
    display: flex;
    min-width:50%;
    max-width:75%;
    margin-left: auto;
    margin-right: auto; 
}


/*https://stackoverflow.com/questions/71428031/how-can-i-get-my-flex-layout-to-stack-for-mobile*/
/* For mobile devices: */

@media (max-width:700px) {
    .album {
        margin: 20px;
        background-color:#5f5f5f;
        border:#000000;
        display: flex;
        flex-direction:column;
        height:400px;
        padding-bottom:40px;
    }
    .album-cover {
        margin:20px;
        width:150px;
        margin-left: auto;
        margin-right: auto;
    }
    .album-info {
        margin: 20px;
        background-color:#5f5f5f;
        border:#000000;
        display: flex;
        min-width:50%;
        max-width:75%;
        margin-left: auto;
        margin-right: auto; 
        padding-top:20px;
    }
}



.album-info-text {
    margin:20px;
    text-align:left;
}

.album-button {
    align-self:right;
    margin-top:-70px
}

.reviews {
    margin:30px;
}

.review {
    margin: 20px;
    background-color:#5f5f5f;
    border:#000000;
}

.review:hover {
    transform:translateY(3px);
    background-color:#4c4c4c;
}

.review-text {
    padding:30px;

}

.leave-review {
    padding: 20px;
    background-color:#5f5f5f;
    border:#000000;
    margin-left: 10%;
    margin-right: 10%;
}

.leave-review-element {
    margin:10px;
}

.search-form {
    padding: 20px;
    background-color:#5f5f5f;
    border:#000000;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:30px;
}

.add-album {
    padding: 20px;
    background-color:#5f5f5f;
    border:#000000;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:30px;
}

.add-album-field {
    padding:10px;
}

.good-status {
    color: #a961c0
}

.bad-status {
    color:#d43d3d
}

.page-button {
    margin-bottom:20px;
}

.form-control {
    border-radius:0;
    background-color: #cfcfcf;
    border:none;
}